/***************************/
/* DOCUMENT DEFAULT STYLES */
/***************************/

@font-face {
    font-family: "Avenir Roman";
    src: url('fonts/Avenir.ttc') format('truetype');
    font-weight: Roman;
}

@font-face {
  font-family: "Avenir Black";
  src: url('fonts/Avenir Next.ttc');
  font-weight: Bold;
}


@font-face {
  font-family: "Avenir Heavy";
  src: url('fonts/Avenir.ttc') format('truetype');
  font-weight: Heavy;
}

@font-face {
  font-family: "Avenir Medium";
  src: url('fonts/Avenir.ttc') format('truetype');
  font-weight: Medium;
}

@font-face {
  font-family: "Logo";
  src: url('fonts/BIG JOHN.otf') format('opentype');
  font-weight: normal;
}

:root {
  font-size: 15px;
  color: #151515;
  font-family: "Avenir Roman", Helvetica, Sans-Serif;
  letter-spacing: 1px;
  width: 100%;
}

html, body {
  margin: 0;
}


h2 {
  font-family: "Avenir Black";
  letter-spacing: .08rem;
  font-size: 1rem;
  line-height: 1.3em;
  margin: 0;
}

h3 {
  font-family: "Avenir Medium";
  letter-spacing: .08rem;
  font-size: 1rem;
}

textarea {
    resize: none;
}

/*****************/
/* HEADER STYLES */
/*****************/

header {
  padding: 1.5em 3em 1em 3em;
  display: -webkit-flex;
  display: flex;
}

#lockup {
  font-family: "Logo";
  font-size: 1.2rem;
  line-height: .6rem;
  color: #151515;
/*  letter-spacing: em;*/
}

#lockup a {
  text-decoration: none;
  color: inherit;
}

.NYC {
  color: #ff4d4d;
}

.dot {
  font-size: 3rem;
  color: #151515;
}

.byline {
  font-size: 1rem;
  font-family: "Avenir Roman";
  color: #2d2d2d;
  line-height: 1.3em;
}

#nav {
  margin: .5em 0 0 auto;
}

#nav a {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #2d2d2d;
  box-shadow: inset 0 -.5em 0 #ffd9d9;
}

#nav a:last-child {
  margin-left: 1em;
}

#nav a:hover {
  box-shadow: inset 0 -.5em 0 #ff4d4d;
}


/******************/
/**POST & FILTERS**/
/******************/

#post {
  background: #2d2d2d;
  height: 4em;
  padding: 0 3em 0 3em;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

#post h3 {
  color: #FFF;
}

#post:hover {
  background: #212121;
}

#post svg {
  margin-left: auto;
  height: 1.1rem;
  fill: #FFF;
}

#filters {
  color: #FFF;
  background: #ff4d4d;
  height: 4em;
  padding: 0 3em 0 3em;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

#filters:hover {
  background: #fe3a3a;
}

#filters-expanded {
  color: #FFF;
  background: #ff4d4d;
  padding: 1.5em 3em 1.5em 3em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

#filters-expanded svg {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  margin-left: auto;
  height: .95rem;
  fill: #FFF;
}


/*#filters-expanded h3 */
.filterDefault {
  background: #2d2d2d;
  color: white;
  height: 1.75em;
  padding: .65em 1em .3em 1em;
  border-radius: 1.5em;
  font-weight: normal;
  margin: .3em .4em .3em 0em;
}


.filterDefault:hover, .filterSelected {
  color: #2d2d2d;
  font-weight: bold;
  height: 1.75em;
  padding: .65em 1em .3em 1em;
  border-radius: 1.5em;
  margin: .3em .4em .3em 0em;
  background: transparent;
  -webkit-box-shadow:inset 0 0 0 .2em #2d2d2d;
  -moz-box-shadow:inset 0 0 0 .2em #2d2d2d;
  box-shadow:inset 0 0 0 .2em #2d2d2d;
}

#filters-expanded svg:hover {
  fill: #2d2d2d;
}

/******************/
/*****LISTINGS*****/
/******************/

#listing {
  padding: 1em 3em 0em 3em;
  display: -webkit-flex;
  display: flex;
  border-bottom: .1em solid #dbdbdb;
}


#listing div:not(:first-child) {
  margin-left: 1.5em;
}

#listing .groupA, #listing .groupC {
  height: 100%;
  width: 40%;
}

.groupB {
  height: 100%;
  width: 30%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.groupA h2 {
  text-transform: uppercase;
  max-width: 25ch;
  word-wrap: normal;
}

.commitment {
  text-transform: capitalize;
  color: #ff4d4d;
  font-weight: bold;
  margin: .75em 0 0 0;
}

.time {
  color: #9b9b9b;
  font-weight: lighter;
  margin-top: 0;
}


.groupB h3 {
  color: #9b9b9b;
  font-weight: lighter;
  margin: 0 0 0 0;
  text-align: left;
  line-height: 1.4em;
}

.groupC .blurb {
  margin-top: 0;
  color: #ff4d4d;
  line-height: 1.55em;
  max-width: 30ch;
}

/***************************/
/*****LISTINGS-EXPANDED*****/
/***************************/

.listing-expanded {
  background: #fff7f7;
  padding: 1em 3em 1em 3em;
  display: -webkit-flex;
  display: flex;
  border-bottom: .1em solid #dbdbdb;
}

.listing-expanded .groupA {
  height: 100%;
  width: 40%;
}

.listing-expanded .groupA a {
  font-weight: bold;
  color: #2d2d2d;
  margin-right: 1.5em;
  box-shadow: inset 0 -.5em 0 #ffd9d9;
  text-decoration: none;
}

.listing-expanded .groupA a:hover {
  box-shadow: inset 0 -.5em 0 #ff4d4d;
}

.address h3 {
  max-width: 30ch;
  margin: 0 0 0 0;
}

.address h3:last-child {
  color: #9b9b9b;
  font-weight: lighter;
}

.address {
  margin-bottom: 1em;
}

.tags {
  padding-top: 1em;
  max-width: 30ch;
}

.listing-expanded .groupD {
  height: 100%;
  width: 70%;
}

.groupD .description {
  margin: 0 0 1.15em 0;
  max-width: 70ch;
  line-height: 1.4em;
  color: #ff4d4d;
}

.groupD h3:last-child {
  padding-top: 1em;
  max-width: 70ch;
}

/******************/
/***ADMIN PANEL****/
/******************/

/* getting rid of default styles */
input, textarea {
/*  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
  outline: none;
  border: none;
  color: #2d2d2d;
  font-size: 1rem;
  font-family: "Avenir Roman";
  line-height: 1.3em;
  letter-spacing: .08rem;
}

/* gets rid of chrome's yellow autofill */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

::-webkit-input-placeholder {
  color: #9b9b9b;
  font-size: 1rem;
  font-family: "Avenir Roman";
  line-height: 1.3em;
  letter-spacing: .08rem;
}

:-moz-placeholder { /* Firefox 18- */
  color: #9b9b9b;
  font-size: 1rem;
  font-family: "Avenir Roman";
  line-height: 1.3em;
  letter-spacing: .08rem;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #9b9b9b;
  font-size: 1rem;
  font-family: "Avenir Roman";
  line-height: 1.3em;
  letter-spacing: .08rem;
}

:-ms-input-placeholder {
  color: #9b9b9b;
  font-size: 1rem;
  font-family: "Avenir Roman";
  line-height: 1.3em;
  letter-spacing: .08rem;
}



.adminNav {
  background-color: #f9f9f9;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.adminNav h3 {
  background: #2d2d2d;
  color: white;
  height: 1.75em;
  padding: .65em 1em .3em 1em;
  border-radius: .2em;
  font-weight: normal;
  margin: .3em 1em .3em 0em;
}


.adminNav h3:hover, .adminNavActive {
  color: #2d2d2d;
  font-weight: bold;
  background: transparent;
  -webkit-box-shadow:inset 0 0 0 .2em #2d2d2d;
  -moz-box-shadow:inset 0 0 0 .2em #2d2d2d;
  box-shadow:inset 0 0 0 .2em #2d2d2d;
}

.createContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  margin: 1em 0 0 0;
  padding: 0;
}


.containerA, .containerB {
  width: 50%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}


.containerA {
  margin-right: .5em;
  top: 0;
}

.containerB {
  margin-left: .5em;
  top: 0;
}

.containerA form, .containerB form {
  width: 100%;
  padding: 1em 3em 1em 3em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
     -webkit-align-self: flex-start;
   align-self: flex-start;
}

.adminAuth {
  margin-bottom: 1.5em;
  height: 3em;
  width: 90%;
  border-bottom: .3em solid #ff4d4d;
  background: transparent;
}

form label {
   -webkit-align-self: flex-start;
   align-self: flex-start;
   margin: 1.5em 0em 1em 5%;
   font-family: "Avenir Medium";
   font-weight: bold;
}

label span {
  color: #ff4d4d;
}

textarea {
  width: 83%;
}

.createTitle {
  margin-bottom: 1em;
  padding: 1rem 1rem 1rem 1rem;
  border: .3em solid #ff4d4d;
}

.createBriefDescription {
  margin-bottom: 1em;
  padding: 1rem 1rem 1rem 1rem;
  border: .3em solid #ff4d4d;
  height: 7em;
}

.createLoc {
  margin-bottom: 1em;
  padding: 1rem 1rem 1rem 1rem;
  border: .3em solid #ff4d4d;
  height: 4em;
}

.createLongDescription {
  margin-bottom: 1.7em;
  padding: 1rem 1rem 1rem 1rem;
  border: .3em solid #ff4d4d;
  height: 10em;
}

.adminHours {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 90%;
  margin-bottom: 1em;
}

.adminHours div {
  padding-top: 1em;
  font-family: "Avenir Medium";
  font-weight: bold;
}

.adminHours input{
  height: 3em;
  width: 100%;
  padding: 0 1.5em 0 1.5em;
  border-bottom: .3em solid #ff4d4d;
  background: transparent;
}

select {
  width: 90%;
  margin-bottom: 1em;
  padding: 0rem 1rem 0rem 1rem;
  border: .3em solid #ff4d4d;
  height: 4em;
  outline: 0;
  -webkit-border-radius: 0px;
}

.adminExpiration {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 90%;
  margin-bottom: 1em;
}

.adminExpiration input{
  height: 3em;
  width: 100%;
  padding: 0 1.5em 0 1.5em;
  border-bottom: .3em solid #ff4d4d;
  background: transparent;
}

.adminExpiration input:first-child {
  margin-right: 1.5em;
}

.adminExpiration input:last-child {
  margin-left: 1.5em;
}

.adminTags {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 90%;
  margin-bottom: 1.2em;
  padding: 0;
}


.adminTagsGroup {
  width: 100%;
  padding: 0;
}

/* CHECKBOX STYLES */

.control {
  position: relative;
  padding-left: 1.5em;
  cursor: pointer;
  display: block;
}

.adminTagsGroup label {
  margin: 0 0 .5em 0;
  font-family: "Avenir Roman";
  font-weight: normal;
}

.control input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.controlIndicator {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  top: .2em;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: .15rem solid black;
}

.control input:checked ~ .controlIndicator {
  background: #ff4d4d;
}

.submitForm {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  height: 4em;
  outline: 0;
  margin: 2em 0em 1em 0em;
}

.submitForm button {
  background: #2d2d2d;
  color: white;
  height: 3.5em;
  outline: 0;
  margin-bottom: 1em;
  width: 20em;
  font-weight: normal;
  border: none;
/*  border-radius: 2.5em;*/
  margin: .3em .4em .3em 0em;
/*  padding: .65em 1em .3em 1em;*/
  font-family: "Avenir Medium";
  letter-spacing: .08rem;
  font-size: 1rem;
}

#errorCaseContainer {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin-top: 1em;
}

h6.error {
  margin-top: -1em;
  padding: .5em 1.5em .5em 1.5em;
  margin-left: auto;
  margin-right: 5%;
  color: #FFF;
  background-color: red;
  display: inline;
}

h6.error2 {
  color: #FFF;
  padding: .5em 1.5em .5em 1.5em;
  display: inline;
  margin-left: auto;
  margin-right: 5%;
  background-color: red;
}

.pending {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.update {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  height: 4em;
  outline: 0;
  margin: 0em 0em 1em 0em;
}

/************************/
/* EDIT LISTING STYLES */
/**********************/
.editing {
  background: #EEEEEE;
  padding: 1em 3em 0em 3em;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.editing-outer {
  border-bottom: .1em solid #dbdbdb;
  padding-bottom: 1em;
  padding-top: 1em;
  background: #EEEEEE;
}

.editingButtons {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.editingButtons button {
  height: 3.5em;
  background: #2d2d2d;
  color: #FFF;
  width: 20em;
  margin-bottom: 1em;
  padding: 0em .5em 0em .5em;
  border: none;
  outline: none;
  align-self: center;
  font-family: "Avenir Medium";
  font-weight: normal;
  letter-spacing: .08rem;
  font-size: 1rem;
}

.editingButtons button:nth-child(1) {
  margin-right: .5em;
}

.editingButtons button:nth-child(2) {
  margin-left: .5em;
}

.editGroupA form, .editGroupB form, .editGroupC form {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.editGroupA, .editGroupB, .editGroupC {
  width: 33.33%;
}

.editAuth {
  margin-bottom: .5em;
  height: 3em;
  width: 85%;
  padding: 0em .5em 0em .5em;
  border-radius: .25em;
  background: #FFF;
}

.editLoc {
  margin: 0em 0em .5em 0em;
  padding: .5em .5em .5em .5em;
  border-radius: .25em;
  width: 85%;
  height: 2.5em;
}

.editGroupA select {
  width: 89%;
  margin-bottom: 2em;
  padding: 0em .5em 0em .5em;
  border-radius: .25em;
  border: none;
  height: 4em;
}

.editBriefDescription {
  margin: 0em 0em .5em 0em;
  padding: .5em .5em .5em .5em;
  border-radius: .25em;
  width: 85%;
  height: 5em;
}

.editadminTags {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 90%;
  margin-top: 1em;
  padding: 0;
}

.editLongDescription {
  margin: 0em 0em .5em 0em;
  padding: .5em .5em .5em .5em;
  border-radius: .25em;
  width: 85%;
  height: 15em;
  font-family:
}

.editing h6 {
  margin: .5em 0em 0.7em 5%;
  letter-spacing: .1em;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  color: #9b9b9b;
  text-transform: uppercase;
}

.editAuthError {
  border: .2em solid red;
}

.editing h6.errortext {
  color: red;
}

/*****************/
/* MOBILE STYLES */
/*****************/


@media (max-width: 1000px) {

  .containerA form, .containerB form {
    padding: 1em 1.5em 1em 1.5em;
  }

  textarea {
    width: 80%;
  }

  .editadminTags {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

}


@media (max-width: 900px) {

  .groupB {
    width: 20%;
  }

  .listing-expanded .groupD {
    width: 60%;
  }

  .adminTags {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .createLongDescription {
    margin-bottom: 1em;
  }


  .editing {
    flex-direction: column;
  }

  .editGroupA, .editGroupB, .editGroupC {
    width: 100%;
  }

  .editing select {
    width: 87%;
  }

  .adminTags {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .editadminTags {
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 86%;
  }

  .editing h6 {
    margin-left: 6.5%;
  }

  .editingButtons {
    margin-top: 1em;
  }

}

@media (max-width: 730px) {

  h2, h3, a, .byline, #nav a {
    font-size: 1.05rem;
  }

  #lockup h1 {
    letter-spacing: 0.01em;
  }

  header, #post, #filters, #filters-expanded, #listing, .listing-expanded {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  #nav a {
    display: block;
    text-align: right;
    line-height: 1.2em;
  }

  #post h3, #filters h3 {
    letter-spacing: .1em;
    font-weight: normal;
  }

/*
these #nav a styles prevent weird display block error:
*/
  #nav a:last-child {
    margin: 0;
  }

  #nav a:first-child {
    margin-left: .7em;
    margin-bottom: .5em;
  }

/*
eliminating 'location' from mobile version
*/
  #listing .groupB {
    display: none;
  }

  #listing .groupA, #listing .groupC {
    width: 50%;
  }

/*
  listing-expanded styles
*/
  .listing-expanded {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .listing-expanded .groupA, .listing-expanded .groupD {
    width: 100%;
  }

  .tags, .address, .listing-expanded .groupA h2:first-child, .groupD {
    max-width: none;
  }

  textarea {
    width: 84%;
  }

  .groupD .description {
    margin-bottom: 1em;
  }

     /*
    admin styles
  */

  .adminNav {
    align-items: center;
  }

  .createContainer {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .containerA, .containerB {
    margin: 0;
    width: 100%;
  }

  .containerA form {
    padding: 1.5em 1.5em 1em 1.5em;
  }

  .containerB form {
    padding: 0em 1.5em 1em 1.5em;
  }

  .submitForm button {
    width: 21.5em;
  }

    /* edit styles */

  .editing {
    padding: 1em 0em 0em 0em;
  }

  .editingButtons button:nth-child(1), .editingButtons button:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }

  .editingButtons {
    flex-direction: column;
  }


}

@media (max-width: 500px) {
  .editing select {
    width: 89%;
  }

  .editingButtons {
    flex-direction: column;
  }

  .editingButtons button {
    width: 89%;
  }

}


@media (max-width: 350px) {

  header, #post, #filters, #filters-expanded, #listing, .listing-expanded {
    padding-left: .8em;
    padding-right: .8em;
  }

  .submitForm button {
    width: 17em;
  }

}
